/* =========================
   FONTS — LOCAL
   ========================= */

/* Satoshi */
@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/satoshi-black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/satoshi-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/satoshi-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Raleway */
@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/raleway-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/raleway-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/raleway-mediumitalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

