/* Vendors */
@import "vendors/normalize.css";

/* Utils (variables d'abord) */
@import "utils/variables.css";

/* Base */
@import "base/base.css";
@import "base/typography.css";
@import "base/accessibility.css";

/* Layout */
@import "layout/wrapper.css";
@import "layout/header.css";
@import "layout/lang.css";
@import "layout/menu.css";
@import "layout/footer.css";
@import "layout/hero.css";
@import "layout/section.css";
@import "layout/grid.css";

/* Components */
@import "components/buttons.css";
@import "components/cards.css";
@import "components/divider.css";
@import "components/quote.css";
@import "components/richtext.css";
@import "components/timeline.css";
@import "components/forms.css";
@import "components/article.css";

/* Pages */
@import "pages/home.css";
@import "pages/women-science.css";
@import "pages/femmes-de-science.css";
@import "pages/lumieres-feminines.css";
@import "pages/article-lise.css";
@import "pages/lise-meitner.css";
@import "pages/matilda.css";
@import "pages/glossary.css";
@import "pages/about.css";
@import "pages/vulgarisation.css";
@import "pages/atomic-power.css";
@import "pages/other-projects.css";

/* Responsive */
@import "responsive/mobile.css";
